section(data-background='#073642')#constant-commands
  h1 Constantly Used
  h2 Commands
  p
    a(href='#commands') add
    -
    a(href='#commands') checkout
    -
    a(href='#commands') diff
    -
    a(href='#commands') log
    -
    a(href='#commands') show
  p
    a(href='#commands') commit
    -
    a(href='#commands') pull
    -
    a(href='#commands') push
    -
    a(href='#commands') rebase
    br
    br

section(data-background='#073642')#common-commands
  h1 Common Commands
  p
    a(href='#commands') clone
    -
    a(href='#commands') fetch
    -
    a(href='#commands') help
    -
    a(href='#commands') init
    -
    a(href='#commands') merge
    -
    a(href='#commands') mv
    -
    a(href='#commands') reset
    -
    a(href='#commands') rm
    -
    a(href='#commands') tag

section(data-background='#073642')#uncommon-commands
  h1 Uncommon Commands
  p
    a(href='#commands') fsck
    -
    a(href='#commands') gc
    -
    a(href='#commands') lost-found
    -
    a(href='#commands') ls-tree
  p
    a(href='#commands') show-ref
    -
    a(href='#commands') symbolic-ref
    -
    a(href='#commands') remote
    -
    a(href='#commands') prune


