section(data-background='#073642')#constant-commands
  h1 Constantly Used
  h2 Commands
  ul.flex
    li
      a(href='#commands') add
    li
      a(href='#commands') checkout
    li
      a(href='#commands') diff
    li
      a(href='#commands') log
    li
      a(href='#commands') show
    li
      a(href='#commands') commit
    li
      a(href='#commands') pull
    li
      a(href='#commands') push
    li
      a(href='#commands') rebase

section(data-background='#073642')#common-commands
  h1 Commonly Used
  ul.flex
    li
      a(href='#commands') clone
    li
      a(href='#commands') fetch
    li
      a(href='#commands') help
    li
      a(href='#commands') init
    li
      a(href='#commands') merge
    li
      a(href='#commands') mv
    li
      a(href='#commands') reset
    li
      a(href='#commands') rm
    li
      a(href='#commands') tag

section(data-background='#073642')#uncommon-commands
  h1 Uncommon Commands
  ul.flex
    li
      a(href='#commands') fsck
    li
      a(href='#commands') gc
    li
      a(href='#commands') lost-found
    li
      a(href='#commands') ls-tree
    li
      a(href='#commands') show-ref
    li
      a(href='#commands') symbolic-ref
    li
      a(href='#commands') remote
    li
      a(href='#commands') prune

