section(data-background='#222')#terms
  h1 Key Terms
  h2 &ldquo;DETACHED HEADs!?!&rsquo;

section(data-background='#268bd2')#term-commit-graph
  h1 the graph
  h2 history is not a timeline
  aside.notes
    | graph / network of pointers to patches

section(data-background='#268bd2')#term-working-areas
  h1 3 zones of focus
  h2 ↥Head ↦ Index ↧ Work Area

section(data-background='#268bd2')#term-refs
  h1 Refs
  h2 int *p
  h2 p = &a

section(data-background='#268bd2')#term-branch
  h1 branch

section(data-background='#268bd2')#term-commit
  h1 commit

section(data-background='#268bd2')#term-HEAD
  h1 HEAD
  h2 (poorly named)

section(data-background='#268bd2')#term-HEAD
  h3 master^
  h3 doodlez^^^
  h1 HEAD@{2}
  h2 HEAD~5

section(data-background='#268bd2')#term-reflog
  h1 reflog
