section(data-background='#222')#wrapup
  h1 Wrap Up
  h2 (&ldquo;Get those iphones out!&rdquo;)
  h3 1. remember there is no timeline
  h3 2. live in git as much as you can
  h3 3. use git-friendly + jm3/dotfiles

section(data-background='#2aa198')#live-in-git
  h1 Live in Git
  ul
    li our projects at 140 Proof are in Git
    li my website is in Git
    li my blog is in Git
    li this presentation is in Git

section(data-background='#2aa198')#pointers-to-patches
  h3 &ldquo;My repo is a graph of pointers to patches&hellip;&rdquo;
  h1 (Say it with me)
  ul
    li Timeline-based metaphors incorrectly describe Git.

section(data-background='#2aa198')#install-helpers
  h1 Save Yourself Time
  ul
    li Install git-friendly + stop stashing so much
    li install jm3/dotfiles + stop typing so much
